<h1>All accounts</h1>
<p>home page</p>

<% 
=begin
gets all articles from the index action Controller and renders its data from the table, to the view 
=end
%>

<ul>
    <% @accounts.each do |account| %>
        <li>

            <a href="/accounts/<%= account.id %>">
                <p>View Account: <%= account.username%> [<%=account.email %>] - created at: <%= account.created_at %></p>
            </a>
        </li>
    <% end %>
<ul>
